<!doctype html>

<html lang="no">
<head>
    <meta charset="utf-8">

    <title>Registrering</title>
    <style>
        .red {
            font-weight: bold;
            color: red;
        }
        
        .green {
            font-weight: bold;
            color: green;
        }
    </style>
</head>

<body>
    {% if error_code==1 %}
        <span class="red">{{msg}}</span>
    {% endif %}
    <form action="newUser.php" method="post">
        <label for="email">E-post</label>
        <input type="text" placeholder="E-post" name="email" id="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Ugyldig e-post adresse">
        <br><br>
        
        <label for="password">Passord</label>
        <input type="password" placeholder="Passord" name="password" id="password" required pattern=".{8,}" title="Minst 8 tegn">
        <br><br>
        
        <label for="firstname">Fornavn</label>
        <input type="text" placeholder="Fornavn" name="firstname" id="firstname" required>
        <br><br>
        
        <label for="surname">Etternavn</label>
        <input type="surname" placeholder="Etternavn" name="surname" id="surname" required>
        <br><br>
        
        <input type="submit" value="Registrer">
    </form>
    {% if success_code==1 %}
        <span class="green">{{msg}}</span>
    {% endif %}
</body>
</html>